<div class="wrapper">
  <form class="search-form">
    <mat-form-field class="search-input">
      <input type="text"
             placeholder="Search"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto"
             (keyup)="onKeyUp($event)">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
