.container {
  height: 40px;
  font-size: 14px;
  background-color: rgb(235, 238, 243);
  border-top: 1px solid #c4c4c4;
}

.wrapper {
  display: flex;
  width: 35%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.field {
  display: flex;
  align-items: center;
}

.field > mat-icon {
  width: 18px;
  height: 18px;
  font-size: 18px;
  color: cornflowerblue;
  margin-left: 5px;
}

.search-input {
  display: flex;
  color: #0016ee;
}

.search-input > p {
  margin-right: 5px;
  align-self: flex-end;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    width: 60%;
  }
}
