<div class="container">
  <div class="wrapper">
    <p>Sorting by:</p>
    <p class="field"><a href="" (click)="dateSort($event)">date</a><mat-icon *ngIf="dateSortCounter > 0">{{ dateSortCounter % 2 === 0 ? 'arrow_downward' : 'arrow_upward' }}</mat-icon></p>
    <p class="field"><a href="" (click)="countSort($event)">count of views</a><mat-icon *ngIf="countSortCounter > 0">{{ countSortCounter % 2 === 0 ? 'arrow_upward' : 'arrow_downward' }}</mat-icon></p>
    <div class="search-input">
      <p>by word or sentance</p>
      <form>
        <!-- <input type="text" name="textField" [(ngModel)]="userInput" (keyup)="onSearchSubmit()"> -->
      </form>
      <mat-icon *ngIf="userInput" (click)="clearField($event)">clear</mat-icon>
    </div>
  </div>
</div>
