<mat-card class="card" [appBorderColor]="video.snippet.publishedAt">
<img mat-card-image src="{{ video.snippet.thumbnails.high.url }}" alt="Video thumbnail">
  <mat-card-content class="card-content">
    <app-statistics [statistics]="video.statistics"></app-statistics>
    <h3 class="video-name">{{ video.snippet.title | slice:0:70 }}</h3>
  </mat-card-content>
  <mat-card-actions class="more-btn">
    <button mat-raised-button color="warn" (click)="setVideoId(video.id)">more</button>
  </mat-card-actions>
</mat-card>
