<app-header (showResults)="showResults()" (showPanel)="showPanel($event)"></app-header>
<!-- <app-login-page></app-login-page> -->
<!-- <app-not-found></app-not-found> -->
<!-- <app-main-page></app-main-page> -->
<!-- <app-detailed-information></app-detailed-information> -->
<!-- <app-sort-panel *ngIf="sortActive" (dateSorting)="dateSorting($event)" (countSorting)="countSorting($event)" (searchText)="textSearch($event)"></app-sort-panel>
<app-search-results *ngIf="hasResponse" [dateSort]="dateSort" [countSort]="countSort" [searchText]="searchText"></app-search-results> -->
