<div class="container">
  <div class="wrapper">
    <mat-icon class="logo">play_circle_filled</mat-icon>
    <div class="search-block">
      <app-search-field (submit)="onSubmit(true)"></app-search-field>
      <button mat-raised-button class="sort-btn" (click)="activateSortPanel($event)">
        <mat-icon>filter_list</mat-icon>
      </button>
    </div>
    <div class="login">
      <p class="login-name">Your Name</p>
      <button mat-raised-button class="login-btn">
        <mat-icon class="login-icon">face</mat-icon>
      </button>
    </div>
  </div>
</div>
